.map-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100vh - 60px);
}

.mapboxgl-ctrl-top-right {
  width: 365px;
  top: 65px;
  left: 15px;
}

.background-map > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-right,
.background-map > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-left {
  position: fixed;
  bottom: 0;
}

.map-box > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-right,
.map-box > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-left {
  position: fixed;
  bottom: 75px;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
}

.mapboxgl-canvas {
  border-radius: 0.5rem;
}

.mapboxgl-ctrl {
  border-radius: 0 0 0.5rem 0;
}

@media screen and (min-width: 376px) {
  .map-container {
    border-radius: 0.5rem;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 3px gray;
  }

  .background {
    border: none;
  }

  .map-box > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-right,
  .map-box > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-left {
    position: absolute;
    bottom: 0;
  }

  .background-map > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-right,
  .background-map > .map-container > .mapboxgl-control-container > .mapboxgl-ctrl-bottom-left {
    position: absolute;
    bottom: 0;
  }

  .mapboxgl-ctrl-geocoder {
    width: 50% !important;
  }

  .mapboxgl-ctrl-top-right {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .mapboxgl-ctrl-top-right > .mapboxgl-ctrl {
    margin: 10px 0;
  }
}

@media screen and (min-width: 576) {
  .mapboxgl-ctrl-geocoder {
    width: 50%;
  }
}
