* {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', serif;
}

body {
  margin: 0;
  background-color: #efe9e1;
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  background-color: #0e58a8;
  color: white;
  height: 60px;
  padding: 0 18px;
}

.h1-anchor > h1 {
  margin-top: -4px;
}

.header-anchor {
  font-size: 20px;
  margin-top: -2px;
  color: white;
  margin-left: 18px;
}

.anchor-line {
  width: 0%;
  background-color: white;
  height: 3px;
  margin-top: 1px;
  transition: width 0.5s ease-in-out;
}

.h1-anchor-line {
  width: 0%;
  background-color: white;
  height: 3px;
  transition: width 0.5s ease-in-out;
}

.h1-lower {
  margin-top: 3px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.background-map {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.button {
  background-color: #0e58a8;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px gray;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  border-radius: 0.4rem;
  padding: 1.5rem;
  margin: 1rem 0;
}

.add {
  position: fixed;
  bottom: 5px;
  width: calc(100% - 10px);
  left: 5px;
  padding: 1rem 0.5rem;
}

.save {
  position: absolute;
  width: 80px;
  padding: 5px 5px;
  font-size: 1.1rem;
  top: 15px;
  right: 20px;
}

.edit-button {
  position: absolute;
  width: 30px;
  text-align: center;
  height: 30px;
  right: 13px;
  background-color: white;
  color: #0e58a8;
  padding: 5px 6px;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  top: calc(50% - 15px);
  border: none;
  box-shadow: 0 1px 3px #022042;
  transition: background-color 0.3s;
  display: grid;
}

.loader {
  margin: auto;
  border: 15px solid white;
  border-top: 15px solid #0e58a8;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.finish {
  position: fixed;
  bottom: 5px;
  left: 0.3rem;
  width: calc(100% - 10px);
  padding: 1rem 2rem;
  -webkit-appearance: none;
}

.name,
.trip-list-header {
  font-size: 1.5rem;
  text-align: center;
  background-color: #0e58a8;
  color: white;
  border: none;
  border-radius: 0.4rem;
  position: absolute;
  top: 10px;
  left: 5px;
  width: calc(100% - 10px);
  padding: 1rem 2rem;
}

::placeholder {
  color: rgba(255, 255, 255, 1);
}

.added {
  background-color: white;
  color: #0e58a8;
}

ul {
  padding-left: 0;
}

.itinerary-map-container {
  width: calc(100% - 10px);
  position: absolute;
  height: 250px;
  top: 80px;
  left: 5px;
}

.trip-list {
  position: absolute;
  top: 345px;
  left: 5px;
  width: calc(100% - 10px);
}

.trip-list-item {
  color: #0e58a8;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  list-style-type: none;
  margin-bottom: 10px;
  position: relative;
}

.location-text,
.search {
  color: #0e58a8;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  list-style-type: none;
  margin-bottom: 10px;
  position: relative;
}

.location-text,
.search,
.poi-item {
  padding: 10px 15px;
}

.trip-list-item,
.search {
  box-shadow: 0 1px 3px rgb(200, 200, 200);
}

.location-text {
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

.list-arrow {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 1.5rem;
}

.trip-list-arrow {
  position: absolute;
  right: 10px;
  top: 19px;
  font-size: 1.5rem;
}

.location-page {
  position: relative;
  padding: 5px 10px;
}

.locations {
  top: 8px;
}

.back-arrow {
  position: absolute;
  left: 15px;
  font-size: 1.8rem;
}

.location {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 2rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 32px;
  align-items: center;
}

.poi-list-container {
  max-height: calc(100vh - 400px);
  background-color: white;
  box-shadow: 0 1px 3px gray;
  border-radius: 0.4rem;
  padding-bottom: 5px;
}

.poi-list {
  max-height: calc(100vh - 405px);
  margin: auto;
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.poi-list li:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: solid thin lightgray;
}

.poi-list-item {
  color: #0e58a8;
  display: flex;
  padding: 10px 10px 15px;
  position: relative;
}

.poi-img {
  width: 100px;
  height: 100px;
  border-radius: 0.4rem;
  margin-right: 10px;
}

.poi-form {
  position: relative;
  padding: 10px 0;
  display: flex;
}

.search {
  position: relative;
  width: 70%;
  font-size: 1rem;
  margin-bottom: 0;
  border-radius: 0.4rem 0 0 0.4rem;
  outline: none;
}

.explore {
  width: 20%;
  font-size: 1rem;
  margin-left: 5px;
  padding: 0;
}

.search::placeholder {
  color: black;
}

.poi-search {
  -webkit-appearance: none;
  border-radius: 0 0.3rem 0.3rem 0;
  border: none;
  box-shadow: 0 1px 3px gray;
  background-color: #0e58a8;
  color: white;
  transition: background-color 0.3s;
  margin-left: -0.5px;
  width: 11%;
  font-size: 1rem;
  padding: 0;
}

.results {
  height: calc(100vh - 215px);
  margin: auto;
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.add-poi,
.delete {
  position: absolute;
  right: 5px;
  top: 42px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 6px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  display: grid;
}

.delete-module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px 10px 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.delete {
  font-size: 1.2rem;
}

.delete-itinerary {
  height: 50%;
  width: 40px;
  right: 15px;
  top: 25%;
  box-shadow: 0 1px 2px #022042;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-poi,
.cancel {
  font-size: 1rem;
  margin: 5px 10px 0 0;
  padding: 4px 8px;
  transition: background-color 0.3s;
}

.list-item-content {
  padding-right: 35px;
}

.add-poi-text {
  width: 90%;
}

.foursquare-logo {
  width: 200px;
  margin-left: 10px;
}

.fs-logo {
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 0.3rem;
  transition: opacity 0.3s;
}

.add-page {
  margin-left: 14px;
  margin-bottom: 5px;
}

.no-results {
  margin-top: 10px;
  padding: 1rem 20px;
}

.navbar {
  height: 60px;
  background-color: white;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-anchor {
  color: #0e58a8;
}

.background-img {
  position: absolute;
  top: 60px;
}

.hidden {
  display: none;
}

.none {
  bottom: 5px;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item {
  color: #0e58a8;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: inline-block;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.active-trip,
.active-location {
  background-color: #0e58a8;
  color: white;
  border-radius: 0.5rem;
}

.mobile-list-item-anchor {
  position: absolute;
  color: #0e58a8;
  background-color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  right: 15px;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px #022042;
  transition: background-color 0.3s;
}

.editing-position {
  right: 60px;
}

.back {
  color: white;
}

a:visited {
  text-decoration: none;
}

.header-nav {
  display: none;
}

.h1-anchor {
  color: white;
  transition: opacity 0.3s;
}

.location-map {
  height: 180px;
  box-shadow: 0 1px 3px gray;
  border-radius: 0.4rem;
  margin: 0 auto 5px;
}

.add-header {
  margin-bottom: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 30px;
  box-shadow: 0 1px 3px gray;
  border-radius: 0.4rem;
  color: #0e58a8;
}

.auth-form-header {
  align-self: baseline;
  margin-bottom: 15px;
}

.auth-input-container {
  margin-bottom: 20px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.auth-input {
  width: 100%;
  padding: 5px 10px;
  background-color: #e2e2e2;
  border-radius: 0.4rem;
  border: none;
  font-size: 14px;
}

.auth-label {
  font-size: 1.1rem;
}

.auth-anchor {
  color: #0e58a8;
}

.log-in {
  font-size: 1.2rem;
  padding: 8px 16px;
  transition: background-color 0.3s;
  width: 100%;
  box-shadow: 0 1px 3px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.log-in-row > small {
  margin-bottom: 10px;
}

.login-error {
  color: rgb(185, 24, 24);
  align-self: baseline;
  margin-bottom: 10px;
}

.create,
.add,
.finish,
.save,
.explore {
  transition: background-color 0.3s;
}

.dynamic {
  transition: background-color 0.3s;
}

.white {
  background-color: white;
  color: #0e58a8;
}

.nav-drawer {
  height: calc(100vh - 59px);
  transition: width 0.5s;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e58a8;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  width: 0;
  top: 59px;
  font-size: 1.2rem;
  z-index: 1000;
}

.drawer-visible {
  width: 50%;
}

.nav-drawer :not(:last-child) {
  border-bottom: thin solid white;
  padding-bottom: 20px;
}

.drawer-button {
  font-size: 2.5rem;
  position: absolute;
  right: 10px;
}

.drawer-anchor {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 70%;
}

.no-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  left: calc(50% - 175px);
  line-height: 3rem;
  color: #0e58a8;
  margin: 20px auto;
}

.no-trips-create {
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 1.5rem 0;
  font-size: 22px;
  width: 100%;
  word-spacing: 2px;
}

.deletion-notice {
  display: none;
}

.trip-list-container {
  width: 100%;
}

.viewPOI {
  margin-top: 10px;
}

@media screen and (min-width: 415px) {
  .map-form {
    width: 100%;
  }

  .name {
    position: relative;
    background-color: transparent;
    color: #0e58a8;
    font-size: 2.5rem;
    text-align: left;
    outline: none;
    left: 0;
    top: 0;
    padding: 1rem 0;
  }

  .drawer-button {
    position: relative;
    right: unset;
  }

  ::placeholder {
    color: #0e58a8;
  }

  .page-container {
    padding: 0 10px;
    margin: auto;
  }

  .main {
    width: 100vw;
    height: calc(100vh - 80px);
    flex-direction: column-reverse;
  }

  .map-box {
    position: relative;
    width: 100%;
    height: 90%;
  }

  .deletion-notice {
    background-color: rgb(232, 14, 14);
    color: white;
    font-size: 15px;
    border-radius: 0.4rem;
    padding: 7px 10px;
    box-shadow: 0 1px 3px darkred;
    margin: 15px 0 0;
    text-align: center;
    display: block;
  }

  .add,
  .finish {
    position: absolute;
    bottom: 10px;
    width: 60%;
    left: 20%;
    padding: 0.5rem 0.3rem;
    font-size: 1.2rem;
  }

  .save {
    right: 10px;
    top: 18px;
  }

    .poi-list-container {
      max-height: calc(100vh - 415px);
    }

    .poi-list {
      max-height: calc(100vh - 420px);
    }

  .trip {
    flex-direction: column;
    justify-content: inherit;
    align-items: baseline;
  }

  .trip-title {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .location-page {
    height: 100%;
    padding: 10px 0 0;
  }

  .location-text {
    margin-bottom: 10px;
  }

  .location {
    position: absolute;
    top: 9px;
  }

  .edit-button {
    background-color: #0e58a8;
    color: white;
  }

  .delete:hover,
  .delete-poi:hover {
    background-color: rgb(185, 24, 24);
    border-color: rgb(185, 24, 24);
  }

  .cancel:hover,
  .edit-button:hover {
    background-color: white;
    color: #0e58a8;
  }

  .header-anchor:hover .anchor-line,
  .h1-anchor:hover .h1-anchor-line {
    width: 100%;
  }

  .create:hover,
  .add:hover,
  .finish:hover,
  .save:hover,
  .poi-search:hover,
  .add-poi:hover,
  .explore:hover,
  .log-in:hover,
  .edit-button:hover {
    background-color: white;
    color: #0e58a8;
  }

  .button:hover,
  .location:hover,
  .trip-list-item:hover,
  .poi-search:hover,
  .back-arrow:hover,
  .edit-button:hover {
    cursor: pointer;
  }

  .init:hover {
    background-color: #0e58a8;
    color: white;
    cursor: initial;
  }

  .mobile-list-item-anchor:hover {
    background-color: #0e58a8;
    color: white;
  }

  .back-arrow:hover {
    transform: scale(1.15);
  }

  .fs-logo:hover {
    opacity: 0.8;
  }

  .white:hover {
    cursor: initial;
  }

  .drawer-visible {
    width: 40%;
  }
}

@media screen and (min-width: 450px) {
  .add,
  .finish {
    width: 50%;
    left: 25%;
  }
}

@media screen and (min-width: 500px) {
  .search {
    width: 50%;
  }

  .poi-search {
    font-size: 1.2rem;
  }

  .save {
    top: 80px;
    right: 0;
    bottom: unset;
    left: unset;
    width: 15%;
    height: 41px;
  }

  .explore {
    position: absolute;
    right: 17%;
    width: 20%;
    padding: 0;
    height: 41px;
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 576px) {

  .add,
  .finish {
    width: 40%;
    left: 30%;
    padding: 0.5rem 10px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 650px) {

  .itinerary-map-container,
  .location-map {
    height: 350px;
  }

  .trip-list {
    top: 445px;
  }

  .trip-list,
  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .trip-list-item {
    width: 49%;
    margin-bottom: 15px;
  }

  .poi-list-container {
    max-height: unset;
  }

  .poi-list {
    max-height: calc(100vh - 595px);
  }

}

@media screen and (min-width: 900px) {

  .page-container {
    padding: 0 20px;
  }

  .create-page {
    width: 100vw;
    height: calc(100vh - 60px);
    padding: 20px 0;
    flex-direction: row;
  }

  .map-box {
    height: 100%;
    width: 75%;
    margin-left: 10px;
  }

  .create-form-header {
    color: #0e58a8;
    border-bottom: solid thin #0e58a8;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  .create-form-label,
  .create-form-subheader {
    color: #0e58a8;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .create-form-subheader {
    margin-top: 15px;
  }

  .create-form-name {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgb(200, 200, 200);
    font-size: 1rem;
    font-weight: 300;
    color: black;
    padding: 10px 12.5px;
    margin-top: 10px;
    width: 100%;
  }

  .create-form-name::placeholder {
    color: black;
  }

  .location-page {
    display: flex;
    flex-direction: column;
  }

  .location-map {
    height: 450px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 45%;
  }

  .column {
    width: 49%;
  }

  .viewPOI {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .title {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 19px 8px 0px;
    align-items: center;
    font-size: 1.5rem;

  }

  .viewPOI-container {
    height: 100%;
  }

  .viewPOI-container > .location-text {
    box-shadow: 0 1px 3px gray;
  }

  .poi-list {
    max-height: 355px;
  }

  .poi-list-container {
    max-height: 385px;
  }

  .location {
    margin-right: 20px;
    position: relative;
    top: 0;
    left: 2px;
  }

  .poi-search {
    right: 50%;
    top: 15%;
    height: 46px;
  }

  .search {
    width: 50%;
  }

  .save {
    height: 46px;
    top: 94px;
  }

  .explore {
    height: 46px;
  }

  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    height: calc(100vh - 270px);
  }

  .trip-list-item {
    font-size: 1.1rem;
  }

  .auth-form {
    width: 60%;
  }

  .auth-input-container {
    flex-direction: row;
    align-items: center;
  }

  .auth-input {
    width: 68%;
  }

  .log-in {
    width: unset;
  }

  .log-in-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .log-in-row > small {
    margin-bottom: 0;
  }

  .drawer-button {
    display: none !important;
  }

  .nav-drawer {
    display: none;
  }

  .header-nav {
    display: initial;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .navbar {
    display: none;
  }

  .edit-button {
    top: 0;
  }

  .trip-list-header {
    position: relative;
    padding: 0 3px 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: transparent;
    top: unset;
    left: unset;
    width: 100%;
  }

  .trip-list-header>h2 {
    font-size: 2rem;
    color: #0e58a8;
  }

  .trip-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 0 0;
  }

  .trip-list {
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    display: block;
    height: calc(100% - 50px);
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 3px;
  }

  .create-list {
    padding: 0;
    top: 125px;
  }

  .trip-list-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .poi-item,
  .no-results {
    width: calc(50% - 5px);
  }

  .trip-list-module,
  .map-form {
    width: 25%;
    height: calc(100vh - 100px);
  }

  .trip-header {
    display: flex;
    align-items: center;
  }

  .back {
    position: relative;
    color: #0e58a8;
    top: 1px;
    margin-right: 15px;
  }

  .back-arrow {
    position: relative;
    left: unset;
    transition: transform 0.3s;
  }

  .itinerary-map-container {
    position: relative;
    background-color: #efe9e1;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px lightgray;
    width: 75%;
    height: 100%;
    margin-left: 10px;
    left: unset;
    top: unset;
  }

  .dynamic:hover {
    background-color: #0e58a8;
  }

  .dynamic:hover .list-item,
  .dynamic:hover i {
    color: white;
  }

  .add,
  .finish {
    width: calc(20% - 2px);
    height: 41px;
    bottom: unset;
    top: 255px;
    left: 0;
    font-size: 1.2rem;
  }

  .auth-form {
    width: 50%;
  }

  .trip-list-module,
  .map-form {
    width: 38%;
    margin-right: 10px;
  }

  .itinerary-map-container,
  .map-box {
    width: 62%;
  }
}

@media screen and (min-width: 1000px) {

  .auth-form {
    width: 40%;
    max-width: 450px;
  }

  .trip-list-module,
  .map-form {
    width: 30%;
  }

  .itinerary-map-container,
  .map-box {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {

  .poi-item,
  .no-results {
    width: calc(33% - 3.3px);
  }

  .trip-list-module,
  .map-form {
    width: 25%;
  }

  .itinerary-map-container,
  .map-box {
    width: 75%;
  }

  .location-page {
    max-width: 1250px;
    margin: auto;
  }

}

@media screen and (min-width: 1400px) {

  .trip-list-module,
  .map-form {
    width: 20%;
  }

  .itinerary-map-container,
  .map-box {
    width: 80%;
  }

}

@media screen and (min-width: 1800px) {

  .trip-list-module,
  .map-form {
    width: 18%;
  }

  .itinerary-map-container,
  .map-box {
    width: 82%;
  }

}

@media screen and (min-width: 2000px) {

  .trip-list-module,
  .map-form {
    width: 15%;
  }

  .itinerary-map-container,
  .map-box {
    width: 85%;
  }

}

@media screen and (min-width: 2560px) {

  .trip-list-module,
  .map-form {
    max-width: 400px;
  }

  .itinerary-map-container,
  .map-box {
    width: calc(100% - 390px);
  }

}

.page {
  position: relative;
}

.solo {
  top: 8.5px;
  right: 8px;
}
