* {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ebf0f6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Spectral', serif;
  background-color: #364e68;
  color: white;
  height: 60px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-anchor {
  margin: 0 0 0 0.7rem;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.background-map {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  background-color: #364e68;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.4rem;
}

.main {
  font-family: 'Rubik', serif;
  position: relative;
  width: 375px;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  border-radius: 0.4rem;
  padding: 1.5rem;
  margin: 1rem 0;
}

.add {
  position: fixed;
  bottom: 70px;
  width: 365px;
  left: 5px;
  padding: 1rem 0.5rem;
}

.save {
  position: absolute;
  width: 80px;
  padding: 5px 5px;
  font-size: 1.1rem;
  top: 20px;
  right: 20px;
}

.edit-button {
  position: absolute;
  width: 35px;
  text-align: center;
  height: 35px;
  right: 4%;
  background-color: white;
  color: #364e68;
  padding: 5px 6px;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  top: 22%;
  border: solid white 0.15rem;
  transition: background-color 0.3s;
}

.loader {
  margin: auto;
  border: 15px solid white;
  border-top: 15px solid #364e68;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.finish {
  position: fixed;
  bottom: 70px;
  left: 0.3rem;
  width: 365px;
  padding: 1rem 2rem;
  -webkit-appearance: none;
}

.name {
  font-size: 1.5rem;
  text-align: center;
  background-color: #364e68;
  color: white;
  border: none;
  border-radius: 0.4rem;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 365px;
  padding: 1rem 2rem;
}

::placeholder {
  color: rgba(255, 255, 255, 1);
}

.added {
  background-color: white;
  color: #364e68;
}

ul {
  padding-left: 0;
}

.trip-list {
  position: absolute;
  top: 75px;
  left: 5px;
  width: 365px;
  padding-bottom: 60px;
}

.trip-list-item,
.location-text,
.search {
  font-family: 'Rubik', serif;
  color: #364e68;
  background-color: white;
  border: solid 0.15rem #364e68;
  border-radius: 0.4rem;
  list-style-type: none;
  padding: 0.7rem 15px;
  margin-bottom: 10px;
  position: relative;
}

.center {
  text-align: center;
}

.list-arrow {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 1.5rem;
}

.trip-list-arrow {
  position: absolute;
  right: 10px;
  top: 19px;
  font-size: 1.5rem;
}

.location-page {
  position: relative;
  padding: 10px;
  margin-bottom: 60px;
}

.locations {
  top: 8px;
}

.back-arrow {
  position: absolute;
  left: 10px;
  top: 13.5px;
  font-size: 2rem;
}

.location {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 2rem;
}

.icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 32px;
  align-items: center;
}

.poi-list-container {
  max-height: 260px;
  background-color: white;
  border: solid 0.15rem #364e68;
  border-radius: 0.4rem;
  padding-bottom: 5px;
}

.poi-list {
  font-family: 'Rubik', serif;
  max-height: 230px;
  height: auto;
  margin: auto;
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.poi-list li:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: solid thin lightgray;
}

.poi-list-item {
  color: #364e68;
  display: flex;
  padding: 10px 10px 15px;
  position: relative;
}

.poi-img {
  width: 100px;
  height: 100px;
  border-radius: 0.4rem;
  margin-right: 10px;
}

.poi-form {
  position: relative;
  padding: 10px 0;
  display: flex;
}

.search {
  position: relative;
  width: 70%;
  font-size: 1rem;
  margin-bottom: 0;
  border-radius: 0.4rem 0 0 0.4rem;
  outline: none;
}

.explore {
  width: 20%;
  font-size: 1rem;
  margin-left: 5px;
  padding: 0;
}

.search::placeholder {
  color: #364e68;
}

.poi-search {
  -webkit-appearance: none;
  border-radius: 0 0.3rem 0.3rem 0;
  border: solid 0.15rem #364e68;
  border-left: none;
  background-color: #364e68;
  color: white;
  transition: background-color 0.3s;
  margin-left: -0.5px;
  width: 11%;
  font-size: 1rem;
  padding: 0;
}

.results {
  max-height: 520px;
  margin: auto;
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.add-poi,
.delete {
  position: absolute;
  right: 5px;
  top: 42px;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 5px 6px;
  font-size: 1.2rem;
  border: solid #364e68 0.15rem;
  transition: background-color 0.3s;
}

.delete-module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px 10px 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.delete {
  font-size: 1.2rem;
}

.delete-itinerary {
  right: 10px;
  top: 13px;
}

.delete-poi,
.cancel {
  font-size: 1rem;
  margin: 5px 10px 0 0;
  padding: 2px 8px;
  border: 0.1rem solid #364e68;
  transition: background-color 0.3s;
}

.list-item-content {
  padding-right: 35px;
}

.add-poi-text {
  width: 90%;
}

.foursquare-logo {
  width: 200px;
  margin-left: 10px;
}

.fs-logo {
  width: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 0.3rem;
  transition: opacity 0.3s;
}

.add-page {
  margin-left: 14px;
  margin-bottom: 5px;
}

.no-results {
  margin-top: 10px;
  padding: 1rem 20px;
}

.navbar {
  height: 60px;
  background-color: white;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rubik', serif;
  font-size: 1.5rem;
}

.navbar-anchor {
  color: #364e68;
}

.background-img {
  position: absolute;
  top: 60px;
}

.hidden {
  display: none;
}

.none {
  bottom: 5px;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item {
  color: #364e68;
}

.back {
  color: white;
}

a:visited {
  text-decoration: none;
}

.header-nav {
  display: none;
}

.h1-anchor {
  color: white;
  transition: color 0.3s;
}

.location-map {
  height: 200px;
  border: solid #364e68;
  border-radius: 0.4rem;
  margin: 0 auto 10px;
}

.add-header {
  margin-bottom: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 20px;
  border: solid 0.15rem #364e68;
  border-radius: 0.4rem;
  color: #364e68;
}

.auth-form-header {
  align-self: baseline;
  margin-bottom: 10px;
}

.auth-input-container {
  margin-bottom: 10px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.auth-input {
  width: 100%;
  padding: 5px;
  border: solid 0.15rem #364e68;
  border-radius: 0.2rem;
}

.auth-label {
  font-size: 1.1rem;
}

.auth-anchor {
  color: #364e68;
}

.log-in {
  font-size: 1.2rem;
  padding: 3px 1rem;
  border: solid 0.15rem #364e68;
  transition: background-color 0.3s;
  width: 100%;
}

.log-in-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.log-in-row > small {
  margin-bottom: 10px;
}

.create,
.add,
.finish,
.save,
.explore {
  border: solid 0.15rem #364e68;
  transition: background-color 0.3s;
}

.dynamic {
  transition: background-color 0.3s;
}

.white {
  background-color: white;
  color: #364e68;
}

@media screen and (min-width: 415px) {
  .map-form {
    width: 100%;
  }

  .name {
    position: relative;
    background-color: transparent;
    color: #364e68;
    font-size: 2.5rem;
    text-align: left;
    outline: none;
    left: 0;
    padding: 1rem 0;
  }

  ::placeholder {
    color: #364e68;
  }

  .page-container {
    width: 95%;
    margin: auto;
  }

  .main {
    width: 100vw;
    height: 550px;
    flex-direction: column-reverse;
  }

  .map-box {
    position: relative;
    width: 100%;
    height: 90%;
  }

  .add,
  .finish {
    position: absolute;
    bottom: 10px;
    width: 60%;
    left: 20%;
    padding: 0.5rem 0.3rem;
    font-size: 1.2rem;
  }

  .save {
    right: 10px;
  }

  .poi-list-container {
    max-height: 160px;
  }

  .poi-list {
    max-height: 130px;
  }

  .trip {
    flex-direction: column;
    justify-content: inherit;
    align-items: baseline;
  }

  .trip-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    top: 0;
  }

  .trip-list-item {
    width: 100%;
  }

  .trip-title {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .itinerary-list {
    width: 100%;
  }

  .back {
    position: relative;
    color: #364e68;
    width: 60px;
    align-items: initial;
  }

  .location-page {
    height: 100%;
    padding: 10px 0 0;
  }

  .back-arrow {
    position: relative;
    top: 0;
    transition: transform 0.3s;
  }

  .location {
    position: absolute;
    top: 9px;
  }

  .edit-button {
    background-color: #364e68;
    color: white;
    border-color: #364e68;
    right: 0;
    top: unset;
  }

  .delete:hover,
  .delete-poi:hover {
    background-color: rgb(185, 24, 24);
    border-color: rgb(185, 24, 24);
  }

  .cancel:hover,
  .edit-button:hover {
    background-color: white;
    color: #364e68;
  }

  .header-anchor:hover,
  .h1-anchor:hover {
    color: #69c9ee;
  }

  .create:hover,
  .add:hover,
  .finish:hover,
  .save:hover,
  .poi-search:hover,
  .add-poi:hover,
  .explore:hover,
  .log-in:hover {
    background-color: white;
    color: #364e68;
  }

  .button:hover,
  .location:hover,
  .trip-list-item:hover,
  .poi-search:hover {
    cursor: pointer;
  }

  .init:hover {
    background-color: #364e68;
    color: white;
    cursor: initial;
  }

  .dynamic:hover {
    background-color: #364e68;
  }

  .dynamic:hover a,
  .dynamic:hover i {
    color: white;
  }

  .back-arrow:hover {
    transform: scale(1.15);
  }

  .fs-logo:hover {
    opacity: 0.8;
  }

  .white:hover {
    cursor: initial;
  }

  .edit-button:hover {
    background-color: #364e68;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 450px) {
  .add,
  .finish {
    width: 50%;
    left: 25%;
  }
}

@media screen and (min-width: 500px) {
  .header-nav {
    display: initial;
  }

  .navbar {
    display: none;
  }

  .search {
    width: 50%;
  }

  .save {
    top: 75px;
    right: 0;
    bottom: unset;
    left: unset;
    width: 15%;
    height: 46px;
  }

  .explore {
    position: absolute;
    right: 17%;
    width: 20%;
    padding: 0;
    height: 46px;
    font-size: 1.2rem;
  }

  .trip-list-item {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 576px) {
  .page-container {
    width: 80%;
  }

  .add,
  .finish {
    width: 40%;
    left: 30%;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .trip-list-item {
    width: 49%;
    font-size: 1.2rem;
  }

  .trip-list {
    justify-content: space-between;
  }

  .poi-search {
    right: 50%;
    top: 15%;
    height: 46px;
  }

  .search {
    width: 50%;
  }

  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 60vh;
  }
}

@media screen and (min-width: 700px) {
  .location-page {
    display: flex;
    flex-direction: column;
  }

  .location-map {
    height: 450px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 45%;
  }

  .column {
    width: 49%;
  }

  .viewPOI {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .title {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    align-items: center;
    font-size: 1.5rem;
  }

  .viewPOI-container {
    height: 100%;
  }

  .poi-list {
    max-height: 355px;
  }

  .poi-list-container {
    max-height: 385px;
  }

  .location {
    margin-right: 20px;
    position: relative;
    top: 0;
    left: 2px;
  }

  .save {
    top: 63px;
  }

  .auth-form {
    width: 60%;
  }

  .auth-input-container {
    flex-direction: row;
    align-items: center;
  }

  .auth-input {
    width: 70%;
  }

  .log-in {
    width: unset;
  }

  .log-in-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .log-in-row > small {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .add,
  .finish {
    max-width: 100%;
    width: 30%;
    left: 35%;
    font-size: 1.2rem;
  }

  .auth-form {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .page-container {
    width: 900px;
  }

  .auth-form {
    width: 40%;
  }
}

.page {
  position: relative;
}

.solo {
  top: 8.5px;
  right: 8px;
}
